/* IMPORTS */

@import url("https://fonts.cdnfonts.com/css/impact");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-colour: #e35252;
  --bg-colour: #121212;
  --text-colour: #fff;
  --heading-colour: #e35252;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--bg-colour);
  background-image: url("Media/StaticWide.png");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 100% auto;
  overflow-x: hidden;
  color: #fff;
}

h2 {
  font-size: 66px;
  color: var(--heading-colour);
  text-shadow: 0 0 10px #121212;
}

h3 {
  font-size: 44px;
  color: var(--heading-colour);
}

h4 {
  font-size: 34px;
  color: var(--heading-colour);
}

p {
  font-size: 22px;
}

li,
a {
  color: var(--heading-colour);
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  transition: all 0.3s ease;
  background-color: transparent;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 125px;
}

.nav__links a {
  transition: all 0.25s ease;
}

.nav__links a:hover {
  padding: 5px 10px;
  font-weight: bold;
  border: 3px solid var(--primary-colour);
}

.logo {
  cursor: pointer;
  width: 60px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.menu__icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.search-button {
  margin-top: 2.5px;
  cursor: pointer;
}

.search-button img {
  width: 35px;
  height: auto;
}

.user-button{
  cursor: pointer;
}

.user-button img {
  width: 40px;
  height: auto;
}

.mobile-nav {
  display: none;
}

.menu-button {
  cursor: pointer;
  display: none;
}

.menu-button img {
  width: 35px;
  height: auto;
}

.header-scrolled {
  padding: 10px 5%;
  background-color: rgb(0, 0, 0);
}

.text__container {
  height: 525px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Impact", sans-serif;
  color: var(--heading-colour);
  font-size: 8rem;
  padding: 0 20px;
  z-index: 1;
}

.parallax-img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.text__container h1 {
  margin-top: 200px;
  margin-bottom: -30px;
  background-image: url(Media/TextPattern.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text__container p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.left__text {
  width: 100%;
}

.left__text p {
  padding-left: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
}

.right__text {
  width: 100%;
  text-align: right;
}

.right__text p {
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  width: 100%;
}

.text__container img {
  position: absolute;
  top: 0;
  left: 26.5%;
  /* TRANSFORM 0 TO FIX INITIAL IMAGE STATE*/
  transform: translate(0%);
  width: 800px;
  height: auto;
  z-index: 0;
}

/* SEARCH MODAL */

.search-modal {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.search-modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

/* NEWSLETTER MODAL */

.news-modal{
  z-index: 15;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.news-modal.active {
  	opacity: 1;
  	visibility: visible;
  	transition: opacity 0.5s;
}

.close-button{
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.close-button img{
  width: 70px;
  height: auto;

}

.form__container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container h3{
  font-weight: 300;
}

.form__container p{
  display: flex;
  justify-content: flex-start;    
  text-align: left;
  font-weight: 400;
  margin-bottom: 48px;
  font-size: 19.5px;
  color: var(--primary-colour);
}

.form__container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container input{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #d1d1d1;
  border: 3px solid var(--primary-colour);
  background-color: transparent;
  width: 665px;
  padding: 10px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
}

input:focus{
  outline: none;
  border: 3px double #d1d1d1;
}

.form__container button{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 22px;
  font-weight: 700;
  border: 5px solid var(--primary-colour);
  background-color: var(--primary-colour);
  color: var(--bg-colour);
  width: 665px;
  margin-top: 15px;
  padding: 16px 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form__container button:hover{
  border: 5px solid var(--primary-colour);
  background-color: var(--bg-colour);
  color: var(--primary-colour);
}

.divider {
  width: 100%;
  bottom: -6%;
  position: absolute;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: calc(100vh + 100px);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600%;
  background: var(--bg-colour);
  background-image: url("Media/StaticWide.png");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 100% auto;
  z-index: -1;
}

.introduction__section {
  margin-top: 290px;
  width: 100%;
  height: 1000px;
  background: url(Media/producing.png);
  background-size: cover;
}

.intro__box {
  transform: translate(25%, 20%);
  position: absolute;
  background-image: url(Media/Static.png);
  background: rgba(18, 18, 18, 0.5);
  height: 700px;
  width: 650px;
  padding: 50px;
}

.intro__box p {
  padding-top: 50px;
}

.divider-2 {
  width: 100%;
  transform: translate(0, -50%);
  z-index: 5;
  position: absolute;
}

.music__section {
  z-index: 5;
  margin: 0 auto;
  width: 80%;
}

.music__section h2{
  margin-top: 48px;
}

.cover__art {
  transform: translate(0, -2%);
  width: 100%;
  background: url(Media/cover_art.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 225px;
  padding-top: 200px;
}

.image__grid {
  margin-top: 76px;
  display: flex;
  height: 695px;
  gap: 100px;
  margin-bottom: 17.5%;
}

.image__grid img {
  border: 5px solid var(--primary-colour);
}

.image__grid h3 {
  margin-top: 28px;
}

.image__grid h4 {
  margin-top: 6px;
}

.left__imgs__container {
  flex: 1;
}

.left__imgs__container img {
  width: 100%;
  height: auto;
  display: block;
}

.right__imgs__container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.right__imgs__container img {
  width: 100%;
  height: auto;
  display: block;
}

.production__collab {
  margin-top: 76px;
  display: flex;
  gap: 100px;
}

.left__prod__container {
  flex: 1;
  width: 100%;
}

.left__prod__container img {
  width: 100%;
  height: auto;
  display: block;
}

.prod-album-img{
  border: 5px solid var(--primary-colour);
}

.spotify__container{
  margin-top: 24px;
}

.spotify__container img{
  margin-right: 14px;
  width: 64px;
  height: auto;
  display: block;
}

.spotify__container h4{
  font-size: 26px;
}

.spotify__container a{
  display: flex;
  flex-direction: row;
}

.right__prod__container {
  flex: 1;
  width: 100%;
}

.right__prod__container h3 {
  margin-bottom: 48px;
}

.divider-3 {
  transform: translate(0, -80%);
  width: 100%;
  z-index: 5;
  position: absolute;
}

.news__section {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 130px;
  width: 80%;
}

.news__section h3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.news-banner {
  margin-top: 76px;
  width: 100%;
  height: 350px;
  background: url(Media/atricle-banner.jpg);
  background-size: cover;
  background-position: center;
}

.tour__section{
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 130px;
  width: 80%;
}

.tour__section h1{
  font-family: "Impact", sans-serif;
  font-weight: 500;
  font-size: 125px;
  color: var(--heading-colour);
  text-align: center;
}

.tour__section table{
  margin-top: 48px;
  width: 100%;
  border-collapse: collapse;
}

.tour__section th{
  text-align: left;
  font-size: 26px;
  font-weight: 500;
  color: var(--heading-colour);
  padding: 12px;
  border-bottom: 3px solid var(--primary-colour);
}

.tour__section td{
  font-size: 22px;
  font-weight: 300;
  color: var(--heading-colour);
  padding: 12px;
  border-bottom: 3px solid var(--primary-colour);
}

.tour__section a:hover{
  text-decoration: underline;
}

.tour-banner img{
  border-top: 5px solid var(--primary-colour);
  margin-bottom: -5%;
  width: 100%;
  height: auto;
}

.divider-4 {
  transform: translate(0, -20%);
  width: 100%;
  z-index: 5;
  position: absolute;
}

.banner-1 {
  width: 100%;
}

.banner-2 {
  cursor: pointer;
  width: 100%;
  height: 696px;
  margin-top: -8px;
  background: url(Media/H&V_Banner.png);
  background-size: cover;
  background-position: center;
  box-shadow: inset 5px 5px 25px rgba(18, 18, 18, 0.5);
}

#tooltip {
  font-weight: bolder;
  font-size: 26px;
  box-shadow: 5px 5px 25px rgba(18, 18, 18, 0.5);
  position: fixed;
  background-color: #222222;
  color: var(--primary-colour);
  padding: 10px 15px;
  border: 5px solid var(--primary-colour);
  z-index: 10;
}

footer {
  bottom: 0;
  z-index: 10;
  display: flex;
  padding: 36px 10%;
  background-color: #ba3636;
  border-top: 8px solid #222222;
}

footer img{
  width: 135px;
  height: auto;
}

.footer__links {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links li {
  display: inline-block;
}

.footer__links h4 {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 10px;
}

.footer__links a {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 500;
  color: #222222;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*SOCIAL MEDIA ICONS*/

.social__media {
  margin-right: -150px;
  margin-left: 200px;
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.social__media__icons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: auto;
}

.social__media__icons img {
  width: 40px;
  height: auto;
}

/* CONTACT FORM */

.contact__form {
  margin: 0 auto;
  width: 665px;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__form h2{
  align-items: left;
  margin-top: 10%;
  margin-bottom: 48px;
  text-align: left;
}

.contact__form input {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #d1d1d1;
  border: 3px solid var(--primary-colour);
  background-color: transparent;
  width: 665px;
  padding: 10px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
}

.contact__form input:focus {
  outline: none;
  border: 3px double #d1d1d1;
}

.contact__form textarea {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #d1d1d1;
  border: 3px solid var(--primary-colour);
  background-color: transparent;
  width: 665px;
  height: 150px;
  padding: 10px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
}

.contact__form textarea:focus {
  outline: none;
  border: 3px double #d1d1d1;
}

.contact__form button {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 700;
  border: 5px solid var(--primary-colour);
  background-color: var(--primary-colour);
  color: var(--bg-colour);
  width: 665px;
  margin-top: 15px;
  padding: 16px 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact__form button:hover {
  border: 5px solid var(--primary-colour);
  background-color: var(--bg-colour);
  color: var(--primary-colour);
}

.tour-banner-contact{
  margin-top: 100px;
  width: 100%;
}

.tour-banner-contact img{
  border-top: 5px solid var(--primary-colour);
  margin-bottom: -15%;
  width: 100%;
  height: auto;
}

.contact__footer{
  background-color: var(--primary-colour);
  position: relative;
  margin-top: 10%;
}




/* MEDIA QUARIES */

@media (-webkit-device-pixel-ratio: 1.25) {
  /* IF WINDOWS SCALING SET TO 125% */

  *{
    zoom: 0.958;
  }
  
  .introduction__section{
    margin-top: 250px;
  }
}

/* FALLBACK */

@media (min-resolution: 120dpi) and (max-resolution: 125dpi) {
  /* IF WINDOWS SCALING SET TO 125% */
  *{
    zoom: 0.958;
  }
  
  .introduction__section{
    margin-top: 250px;
  }
}


@media (max-width: 1880px) and (min-width: 1780px) {

  * {
    zoom: 0.995;
  }
}

@media (max-width: 1780px) and (min-width: 1680px) {

  * {
    zoom: 0.99;
  }
}

@media (max-width: 1680px) and (min-width: 1580px) {

  * {
    zoom: 0.985;
  }
}

@media (max-width: 1580px) and (min-width: 1480px) {

  * {
    zoom: 0.98;
  }
}

@media (max-width: 1480px) and (min-width: 1380px) {

  * {
    zoom: 0.975;
  }
}

@media screen and (max-width: 1366px) {
  /* LAPTOPS */

  * {
    zoom: 0.946;
  }

  .introduction__section{
    margin-top: 242px;
  }

  .divider{
    transform: translate(0, -50%);
  
  }
}

@media screen and (max-width: 1280px) {
  /* SMALL LAPTOPS */

  * {
    zoom: 0.935;
  }

  .introduction__section {
    margin-top: 230px;
  }

  .divider {
    transform: translate(0, -90%);
  }
  
}


@media screen and (max-width: 1024px) {
  /* TABLETS */

  .logo {
    margin-left: 25px;
  }

  .menu-button {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e35252;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .mobile-nav__links {
    list-style: none;
    text-align: left;
    padding: 0 20px;
  }

  .mobile-nav__links li {
    margin-bottom: 15px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  }

  .mobile-nav__links a {
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0 20px;
  }

  .text__container img {
    width: 100%;
    height: auto;
    top: 100%;
  }

  .text__container h1 {
    margin-top: 20px;
    font-size: 164px;
    text-align: center;
  }

  .text__container p {
    font-size: 14px;
    text-align: center;
  }

  .left__text p {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right__text p {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  /* SMALLER TABLET OR LARGE PHONE | SMALL LAPTOP
  */

  .title {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 480px) {
  /* SMARTPHONES */


  .logo {
    margin-left: 5px;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

.parallax-img{
  display: none;
}

  .text__container img {
    display: none;
}

  .text__container h1 {
    margin-bottom: -15px;
    font-size: 120px;
  }

  .text__container p {
    font-size: 10px;
  }

  .left__text p {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right__text p {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introduction__section{
    margin-top: 200px;
    width: 100%;
    background: url(Media/producing.png);
    background-size: cover;
    height: 750px;
  }

  .divider{
    transform: translate(0, -1050%);
  }

  .overlay{
    top: calc(100vh + 100px);
    height: 500%;
  }

  .intro__box{
    transform: translate(0, 25%);
    width: 100%;
    height: 500px;
    padding: 40px;
  }

  .cover__art{
    transform: translate(0, -2%);
    width: 100%;
    background: url(Media/cover_art.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .music__section{
    margin-top: 50px;
  }

  .image__grid{
    margin-top: 38px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 185%;
  }

  .production__collab{
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .divider-3{
    transform: translate(0, -140%);
  }

  .news__section{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .banner-2{
    width: 100%;
    height: 250px;
  }

  .footer__links{
    padding: 36px 5%;
    display: grid;
    flex-direction: column;
  }

  .social__media{
    margin-right: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  

  footer{
    display: flex;
    flex-direction: row;
    padding: 36px 5%;
  }
}
